.container-group {
    margin-top: 100px;
    background-color: #0D6EFD;
}

.container-group-text_one {
    margin: 0px 10px 0px 50px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.container-group-text_two {
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    color: #ffffff;
}

.container-group-text_three {
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    color: #ffffff;
}

.container-group-text_four {
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    color: #ffffff;
}