.container-group {
    position: fixed;
    background-color: #0D6EFD;
    padding: 15px 0px;
}

.container-group-text_one {
    margin: 0px 15px 0px 100px;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color: #ffffff;
}

.container-group-text_two {
    margin: 0px 15px 0px 0px;
    text-decoration: none;
    color: #ffffff;
}

.container-group-text_three {
    margin: 0px 15px 0px 0px;
    text-decoration: none;
    color: #ffffff;
}

.container-group-text_four {
    margin: 0px 15px 0px 0px;
    text-decoration: none;
    color: #ffffff;
}

.container-bottom {
    margin: 0px 0px 0px 100px;
    background-color: #0D6EFD;
}