.container-always_header {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #0D6EFD;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.container-always_header-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container-always_header-li {
    display: inline-block;
}

.container-group-text_one {
    margin: 0px 15px 0px 30px;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color: #ffffff;
}

.container-group-text_two {
    margin: 0px 15px 0px 0px;
    text-decoration: none;
    color: #ffffff;
}

.container-group-text_three {
    margin: 0px 15px 0px 0px;
    text-decoration: none;
    color: #ffffff;
}

.container-group-text_four {
    margin: 0px 15px 0px 0px;
    text-decoration: none;
    color: #ffffff;
}

.container-group-text_five {
    margin: 0px 15px 0px 0px;
    text-decoration: none;
    color: #ffffff;
}

.container-group-text_six {
    margin: 0px 15px 0px 0px;
    text-decoration: none;
    color: #ffffff;
}

.container-always_header-nav-ul {
    list-style-type: none;
    padding: 0;
    margin: 0px 30px 0px 0px;
}

.container-always_header-nav-ul-li {
    display: inline-block;
}

.container-always_header-nav-ul-li-text {
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
}

.container-box {
    /* display: grid;
    grid-template-rows: 50px 100px 10px 420px 10px 420px 10px 420px 10px 30px 50px;
    grid-template-columns: 0.5fr 2fr 0.125fr 2fr 0.125fr 2fr 0.5fr; */
    width: 100%;
    position: relative;
    top: 50px;
}

.container-box-h2 {
    text-align: center;
    z-index: 2;
}

.container-box-background {
    position: absolute;
    top: 10px;
    width: 92%;
    height: 60px;
    background-color: #F8F9FA;
    /* 真ん中へ */
    margin: 0 auto;
    z-index: 1;
}

.container-box-main {}

.container-box-main-section_one,
.container-box-main-section_two,
.container-box-main-section_three,
.container-box-main-section_four,
.container-box-main-section_five,
.container-box-main-section_six {
    /* margin: 0 -200px;
    text-align: center; */
}

.container-box-main-section-img {
    width: 20%;
    height: auto;
}

.aside-box {}

.aside-box-search {}

.aside-box-text {}

.aside-box-btn {}

.aside-box-logo {}

.aside-box-ttlimg {
    width: 23%;
    height: auto;
}

.selct {}

.container-always_footer {
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0px;
    font-size: smaller;
    color: #ffffff;
    background-color: #0D6EFD;
}